.dru-img {
  border-radius: 1em;
  max-width: calc(100vw - 4em);
  height: auto;
  max-height: 600px;
  z-index: 1;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.feature {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

.feature::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffcfc1ba;
  top: 1em;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #3f51b5;
  letter-spacing: 0.1em;
  font-size: 0.85em;
}

.featured-title {
  color:  var(--clr-blk2);
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: inline-block;
  font-family: 'myriad-pro';
  outline: none;
}

.feature-icon  {
  color: var(--clr-pp);
  animation: flip-icon 4s linear !important;
}

.feature-icon:hover {
  animation: flip-icon 4s linear infinite !important;
}

@keyframes flip-icon {
  0% {
      transform: rotateY(360deg);
  }
  100% {
      transform: rotateY(0deg);
  }
}

.featured-desc {
  color: var(--txt-clr);
  margin-bottom: 2em;
  font-size: .9em;
  line-height: 1.5em;
  font-weight: 400;
}

@media only screen and (min-width: 700px) { 
  
  .feature, .portfolio {
    text-align: left;
    margin: 0 auto;
  }

  .feature, .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
    max-width: 1200px;
  }

  .left, .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .dru-img {
    max-width: 795px;
    margin-left: 2em;
  }

  .featured-desc {
    margin-bottom: 3em;
  }

}

@media only screen and (min-width: 1020px) { 

  section {
    padding-left: 4em;
  }

  .dru-img {
    float: right;
    max-width: 500px;
  }

  .left, .portfolio-left {
    padding: 1em;
  }
}

@media only screen and (min-width: 1250px) { 

  section {
    padding: 10em 10em 4em 10em;
  }

}

@media only screen and (min-width: 1400px) { 
  .portfolio-left {
    padding: 3em;
  }
}