.hero-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #fff 52.9vw, #ffcfc1 50vw);
  background-size: 100vw ;
  background-position: center top;
}

.hero {
  max-width: 1800px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: url("../images/hero-banner-noBg.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

h1 {
  font-family: 'myriad-pro', sans-serif;
}

.content {

  .hello-word {
    margin-top: 0rem;
    position: relative;
    height: 100px;
    width: 40%;
    min-width: 395px;
    border-radius: 20px;

  }

  .highlight:hover {
    color: #ffcfc1;
  }

  .hello-word span {
    position: absolute;
    overflow: hidden;
    animation: animateWords 10s linear infinite;
    opacity: 0;
    font-weight: bold;
    color: var(--font-color);

  }

  @keyframes animateWords {

    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    2% {
      opacity: 1;
      transform: translateY(0px);
    }
    18% {
      opacity: 1;
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 0;
      transform: translateY(50px);
    }

  }

  .hello-word span:nth-child(1) {
    animation-delay: 0s;
  }
  .hello-word span:nth-child(2) {
    animation-delay: 2s;
  }  
  .hello-word span:nth-child(3) {
    animation-delay: 4s;
  }
  .hello-word span:nth-child(4) {
    animation-delay: 6s;
  }
  .hello-word span:nth-child(5) {
    animation-delay: 8s;
  }  

}