.hero-title {
  font-family: 'myriad-pro', sans-serif;
  font-size: 3.5em;
  margin: 1em;
  text-align:left;
}

#HeroImg {
  position: absolute;
  left: 0em;
  margin-top: -45rem;
  width: 140vw;
}

#GroupPlant {
  display: none;
}

#LearnMoreBtn {
  display: none;
  transition: 0.5s;
}

#LearnMoreBtn:hover {
  opacity: .7;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 50ms;
}

#GroupCone {
  transform: translateY(-800px);
}

#GroupBubblesRight {
  display: none;
}

.hero-container {
  width: 100vw;
  min-height: 40em;
  background-color:var(--clr-lor);
  background-size: 100vw ;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.hero {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
}

.highlight:hover {
  color:var(--clr-or);
}

.hello-word span {
  font-size: .5em;
  position: absolute;
  top: 38em;
  left: 3.75em;
  animation: animateWords 10s linear infinite;
  opacity: 0;
}

@keyframes animateWords {

  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  2% {
    opacity: 1;
    transform: translateY(0px);
  }
  18% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }

}

.hello-word span:nth-child(1) {
  animation-delay: 0s;
}
.hello-word span:nth-child(2) {
  animation-delay: 2s;
}  
.hello-word span:nth-child(3) {
  animation-delay: 4s;
}
.hello-word span:nth-child(4) {
  animation-delay: 6s;
}
.hello-word span:nth-child(5) {
  animation-delay: 8s;
}  

.hero-contact {
  padding: 0.5rem 2rem;
  border-radius: 50px;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #ff9278;
  border: 3px solid #ff9278;
  transition: 0.5s;
  z-index: 10003;
  max-width: 210px;
}

.hero-contact:hover, 
.hero-contact:focus, 
.hero-contact:active {
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 50ms;
  color: #ff9278;
  font-weight: bold;
  background-color: transparent;
  
  .learn-btn-icon {
    animation: arrowAnim .5s ease-in 1 forwards;
  }

}

@keyframes arrowAnim {
  
  from {
    transform: rotate(0deg);
    z-index: 5;
  }

  to {
    transform: rotate(90deg);

  }
}

@media only screen and (min-width: 380px) {
  
  .hero-title {
    padding-bottom: 2em;
    font-size: 4.5em;
  }

  .hello-word span {
    font-size: .5em;
    position: absolute;
    top: 46%;
    left: 5em;
    animation: animateWords 10s linear infinite;
    opacity: 0;
  }

  #HeroImg {
    position: absolute;
    left: 0em;
    margin-top: -45rem;
    width: 130vw;
  }
  
  #GroupCone {
    transform: translateY(-700px);
  }

}

@media only screen and (min-width: 510px) {

  #HeroImg {
    width: 110vw;
  }

  #GroupCone {
    transform: translateY(-600px);
  }

  #GroupPlant {
    display: block;
    transform: translate(-9em, 30em);
  }

  .hello-word span {
    font-size: .6em;
    top: 35%;
    left: 3em;
  }
  
}

@media only screen and (min-width: 600px) {

  .hero-title {
    padding-bottom: 3em;
  }

  #HeroImg {
    width: 627px;
    margin-top: -675px;
    left: 50%;
    transform: translate(-50%,0);
  }

  #GroupCone {
    transform: translateY(-600px);
  }

  #GroupPlant {
    display: block;
    transform: translate(-9em, 30em);
  }

  .hello-word span {
    font-size: .6em;
    top: 30%;
    left: 9em;
  }
  
}

@media only screen and (min-width: 768px) {

  .hero-title {
    font-size: 3.75em;
    letter-spacing: -1px;
    position: absolute;
    top: 14%;
    left: 7%;
  }

  .hero-container {
    position: relative;
  }

  .hello-word span {
    font-size: 1em;
    top: 25%;
    left: 0%;
    width: 100vw;
  }

  .hero {
    align-items: self-start;
    padding: 12em;
    width: 100vw;
  }

  #HeroImg {
    position: absolute;
    margin-top: -53em;
    width: 100vw;
  }

  #GroupPlant {
    display: block;
    transform: translate(0, 0);
  }

  #GroupCone {
    display: block;
    transform: translate(0, 0);
  }

  #GroupBubblesRight {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  
  .hero-title {
    font-size: 4.75em;
    top: 15%;
    left: 8%;
  }

  .hello-word span {
    top: 28%;
  }

  .hero {
    padding: 0em;
    padding-left: 15em;
  }

  #HeroImg {
    margin-top: -50em;
  }
}

@media only screen and (min-width: 1300px) {
  
  .hero-title {
    font-size: 5.5em;
    top: 15%;
    left: 10%;
  }

  .hero-container {
    height: 51em;
    padding-bottom: 5em;
  }
  

  .hello-word span {
    top: 30%;
  }

  .hero {
    margin-top: 13em;
    padding-left: 20em;
  }

  #HeroImg {
    margin-top: -46em;
}

}

@media only screen and (min-width: 1500px) {
  
  .hero-title {
    font-size: 6em;
    top: 24%;
    left: 11%;
  }

  .hero-container {
    height: 60em;
  }
  
  .hello-word span {
    top: 36%;
  }

  .hero-contact {
    margin-left: 6%;
    margin-top: -9%;
  }

  #HeroImg {
    margin-top: -39em;
  }

}

@media only screen and (min-width: 1850px) {
  .hero-title {
    font-size: 8em;
    top: 16%;
  }

  .hello-word span {
    top: 29%;
  }
}

@media only screen and (min-width: 2100px) {
  .hero-title {
      font-size: 8em;
      top: 16%;
      left: 18%;
  }

  .hero-contact {
    margin-left: 20%;
    margin-top: -7%;
  }

  .hello-word span {
    top: 29%;
  }
}