.portfolio {
  background: #f7f7f7;
  overflow: hidden;
  padding-bottom: 3em;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.portfolio::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: hsl(333, 29%, 93%);
  top: 2em;
  right: 0em;
  z-index: -1;
}

.portfolio-container:last-of-type::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffcfc1ba;
  bottom: -8em;
  left: -5em;
  opacity: 0;
}

.portfolio-container img {
  border-radius: 1em;
  margin: 1em auto 2em auto;
  z-index: 1;
  height: auto;
  max-height: 500px;
  max-width: calc(100vw - 4em);
  z-index: 1;
  overflow: hidden;
}

.portfolio-container {
  max-width: 1200px;
  margin: 5em auto 0 auto;
}

@media only screen and (min-width: 700px) {
  
  .portfolio-container {
    margin: 5em auto;
  }

  .portfolio-container img {
    max-width: 795px;
    margin-left: 2em;
  }

  .portfolio-container:last-of-type::after {
    opacity: .8;
  }
  
}

@media only screen and (min-width: 1020px) {

  .portfolio-container img {
    float: right;
    max-width: 500px;
  }

}
@media only screen and (min-width: 1700px) {

  .portfolio::before {
    right: 15%;
  }

}