.portfolio {
  background: #f7f7f7;
  overflow: hidden;
  padding-bottom: 3em;
}

.portfolio-container img {
  border-radius: 1em;
  margin: 1em auto 2em auto;
  z-index: 1;
  height: auto;
  max-height: 500px;
  max-width: calc(100vw - 4em);
  z-index: 1;
  overflow: hidden;
}

.portfolio-container {
  max-width: 1200px;
  margin: 5em auto 0 auto;
}

@media only screen and (min-width: 700px) {
  
  .portfolio-container {
    margin: 5em auto;
  }

  .portfolio-container img {
    max-width: 795px;
    margin-left: 2em;
  }

}

@media only screen and (min-width: 1020px) {

  .portfolio-container img {
    float: right;
    max-width: 500px;
  }
}