@import url("https://use.typekit.net/wiy2alq.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

:root {
  --font-color: #372958;
  --bg-color: #fff;
  --button-bg-color: #090a0e;
  --button-shadow:
    -6px -6px 8px rgba(255, 255, 255, 0.9),
    5px 5px 8px rgba(0, 0, 0, 0.07);
}

html {
  font-family: 'myriad-pro', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}