@import url("https://use.typekit.net/wiy2alq.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;

  --clr-blk: #000;
  --clr-blk2: #333333;
  --clr-pp: #372958;
  --clr-or: #ff9278;
  --clr-lor: #ffcfc1;
  --clr-lgr: #e0e0e0;
  --clr-wt: #fff;
}

html {
  font-family: 'myriad-pro', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100vw;
}