.header{
  background: var(--clr-lor);
  top: 0;
  width: 100vw;
  z-index: 2;
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  max-width: 1400px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-family: 'myriad-pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  color: var(--font-color);
  transition: 0.5s

}

.nav-link:hover, 
.nav-link:focus, 
.nav-link:active {
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 50ms;
  color: var(--clr-or);
}

.nav-name {
  color: var(--clr-wt);
}

.contact {
  color: #ff9278;
  border: 3px solid #ff9278;
  border-radius: 50px;
  padding: .25rem 2.75rem;
  transition: 0.5s
}

.contact:hover, 
.contact:focus, 
.contact:active {
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 50ms;
  color: #fff;
  background-color: #ff9278;
}

@media only screen and (max-width: 1200px) {
  .nav-item {
    margin-left: 2em;
  }

  .nav-link {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    background: linear-gradient(to right, #ff9f87, #ff9278);
    position: fixed;
  }

  .navbar {
    padding: .5rem 1.5rem;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 2.8em;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    background: #333333;
    transition: 0.3s;
  }

  .nav-link, 
  .contact {
    border: none;
    color: var(--font-color);
    transition: 0.5s;
    color: #ff9f87;    
    padding: 0;
    font-weight: 400;
  }
  
  .nav-link:hover, 
  .nav-link:focus, 
  .nav-link:active 
  .contact:hover, 
  .contact:focus, 
  .contact:active {
    background-color: transparent;
    color: #ffb6a3;
    text-shadow: 1px 1px 2px #ff0000;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 1rem 0;
  }

  .nav-name {
    color: #000;
  }

  .bar {
    background-color: #000;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

}